# Django
DJANGO_SECRET_KEY=sua-chave-secreta-aqui-mude-em-producao
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# MySQL Remoto (UOL Host)
MYSQL_HOST=estoquefb.mysql.uhserver.com
MYSQL_PORT=3306
MYSQL_NAME=estoquefb
MYSQL_USER=mateus1
MYSQL_PASSWORD=sua_senha_aqui

# Ou use DATABASE_URL (sobrescreve as variáveis acima)
# DATABASE_URL=mysql://mateus1:sua_senha@estoquefb.mysql.uhserver.com:3306/estoquefb

# CSRF
DJANGO_CSRF_TRUSTED_ORIGINS=https://seu-dominio.vercel.app
